.tools_title {
  @apply text-lg font-semibold text-light mt-7 mb-2;
}
.tools_content {
  color: rgb(247, 247, 247);
  @apply list-decimal list-inside flex flex-col gap-3;
}
.tools_content a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @apply transition-colors duration-200 font-medium text-accent;
}
.tools_content a:hover{
  @apply text-neon
}
.tools_content a::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  background-color: currentColor; /* Inherits text color */
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 13a5 5 0 0 0 7 0l3-3a5 5 0 0 0-7-7l-1.5 1.5"/><path d="M14 11a5 5 0 0 0-7 0l-3 3a5 5 0 0 0 7 7l1.5-1.5"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 13a5 5 0 0 0 7 0l3-3a5 5 0 0 0-7-7l-1.5 1.5"/><path d="M14 11a5 5 0 0 0-7 0l-3 3a5 5 0 0 0 7 7l1.5-1.5"/></svg>');
}
