@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#101112] text-elight;
  counter-reset: section;
}
html {
  scroll-behavior: smooth;
}

section {
  @apply py-16;
}
::selection {
  color: white;
  background-color: #00E57740;
  
}
:root {
  --primary: #00E577;
  --secondary: #9D65C9;
  --neon: #fffc57;
  --accent: #FF6B6B;
  --light: #E6F1FF;
  --elight: #9CA3AF;
  --mono: "Fira Mono", monospace;
}
.numberedHeading {
  @apply text-3xl text-light font-bold relative w-full;
}
.numberedHeading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--primary);
  font-size: 18px;
  font-family: var(--mono);
  font-weight: 400;
}
.numberedHeading::after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #233554;
  position: relative;
  display: inline-block;
  bottom: 5px;
  left: 15px;
}
P {
  @apply mb-3;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-lg; /* Rounded corners */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
