@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: white;
  background-color: #00e57740;
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-lg; /* Rounded corners */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
:root {
  --primary: 87, 173, 255;
  --surface: 15, 19, 28;
  --secondary: 157, 101, 201;
  --neon: 255, 252, 87;
  --accent: 255, 107, 107;
  --light: 230, 241, 255;
  --elight: 186, 189, 193;
}

:is(html, body) {
  @apply bg-surface font-ui;
}
html {
  @apply font-ui;
  scroll-behavior: smooth;
}
body {
  @apply text-elight;
  counter-reset: section;
}

:is(h1, h2, h3, h4, h5, h6) {
  @apply font-primary;
}
h1 {
  @apply text-5xl font-bold;
} /* Main Title */
h2 {
  @apply text-4xl font-semibold;
} /* Section Title */
h3 {
  @apply text-3xl font-medium;
} /* Subsection Title */
h4 {
  @apply text-2xl font-medium;
} /* Smaller Titles */
h5 {
  @apply text-xl font-medium;
} /* Minor Headings */
h6 {
  @apply text-lg font-normal;
} /* Smallest Headings */
p {
  @apply text-[1.1rem] font-display mb-3;
}

section {
  @apply py-16;
}

.numberedHeading {
  @apply text-3xl text-light relative w-full;
}
.numberedHeading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: rgb(var(--primary));
  font-size: 18px;
  font-family: var(--mono);
  font-weight: 400;
}
.numberedHeading::after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #233554;
  position: relative;
  display: inline-block;
  bottom: 5px;
  left: 15px;
}

.back_one {
  @apply bg-gradient-to-r from-blue-900 via-indigo-900 to-indigo-500;
}
