.svgx i svg {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 512px) {
  .svgx i {
    padding: 10px;
    transition: linear 0.2s;
    cursor: pointer;
  }
  .svgx i:hover,
  .svgx i:focus {
    transform: translateY(-5px);
    transition: linear 0.2s;
    color: var(--primary);
  }
}

.icons {
  left: 60px;
}
.fixedIcons i a {
  color: var(--ink);
}
.fixedIcons i:hover a {
  color: var(--color-white);
}
