.experienceTitle:after{
content: " ↗";
font-weight: 900
}
.experienceTitle{
      @apply text-lg font-medium text-white my-2;
}

.tags{
    @apply flex flex-wrap gap-3;
}
.tags>span{
    @apply select-none block py-1 px-3 bg-white bg-opacity-10 backdrop-blur-lg border border-gray-600 rounded-full shadow-lg text-light text-sm;
}
.tags>span:hover{
    @apply bg-opacity-20 border-gray-400;
}


.skillsList li {
    display: flex;
    align-items: start;
}
.skillsList li:before{
    content: "▹";
    left: 10px;
    margin-top: 6px;
    padding-right:10px;
    color: var(--primary);
    font-size: 1rem;
    line-height: 12px;
}